<router-outlet></router-outlet>

<header>
  <nav [hidden]="toggleMenu" class="navbar navbar-expand-lg fixed-top p-0 nav-short h-50" [ngStyle]="{'background-image': 'url(' + user.profileImage + ')'}">
    <div class="container-fluid fixed-top gradient-opacity h-50">
      <div class="container">
        <div class="navbar-translate" id="navLogo">
          <a class="navbar-brand w-115" href='app/{{ user.username }}' rel="tooltip" data-placement="bottom">
            <img src="../../../assets/img/brand/logo-light.png" alt="logo-cofluencer">
          </a>
          <div class="iconMenu" (click)="menuControl()">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
          <ul class="navbar-nav flex flex-middle">
            <li class="nav-item">
              <a class="nav-link" href="" onclick="scrollToDownload()">
                <p class="bodyTextBold capitalize colorGrey">My campaigns</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <p class="bodyTextBold capitalize colorGrey">Search campaign</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <p class="bodyTextBold capitalize colorGrey">My stats</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div [hidden]="!toggleMenu" id="mobileMenu">
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent">
      <div class="container">
        <div class="navbar-translate flex sp-between w-100 flex-middle">
          <a class="navbar-brand w-115" href="/" rel="tooltip" data-placement="bottom">
            <img src="../../../assets/img/brand/logo-light.png" alt="logo-cofluencer">
          </a>
          <div class="iconMenu" (click)="menuControl()">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
        </div>
      </div>
    </nav>

    <ul class="menu container flex flex-column flex-middle mt-100">
      <li class="pb-20 mt-20 w-100 b-bottomThin">
        <button *ngIf='!myCampaigns' (click)="menuControl()" (click)='goMyCampaigns()' class="bodyTextBold capitalize colorGrey">My campaigns</button>
        <button *ngIf='myCampaigns' (click)="menuControl()" (click)='goCampaigns()' class="bodyTextBold capitalize colorGrey">Search campaigns</button>
      </li>
      <li class="pb-20 mt-20 w-100 b-bottomThin">
        <button (click)="menuControl()" (click)='goProfile()' class="bodyTextBold capitalize colorGrey">My profile</button>
      </li>
      <!-- <li class="pb-20 mt-20 w-100 b-bottomThin">
        <a (click)="menuControl()" href="#" class="bodyTextBold capitalize colorGrey">My stats</a>
      </li> -->
      <li class="pb-20 mt-20 w-100 b-bottomThin">
        <button class="bodyTextBold capitalize colorGrey" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
  <!-- End Mobile Menu -->

</header>
<body>
  <div class="container p-5">
    <div class="row pb-5">
      <div class="col-10">
        <!--Section heading-->
        <h2 *ngIf='myCampaigns' class="font-weight-bold dark-grey-text mb-3">Campaigns in which you have already done join.</h2>
        <h2 *ngIf='!myCampaigns' class="font-weight-bold dark-grey-text mb-3">Campaigns published by cofluencer companies.</h2>
        <!--Section description-->
        <p *ngIf='myCampaigns' class="subtitle-p grey-text">Check the campaigns in which you are already registered and contact the company.</p>
        <p *ngIf='!myCampaigns' class="subtitle-p grey-text">Check the campaigns that match your interests and availability and contact the companies.</p>
      </div>
    </div>
  </div>

  <div *ngFor="let campaign of influencer.campaigns">
    <app-campaign-card [campaign]='campaign'></app-campaign-card>
  </div>
</body>

<footer class="bg-darkJungleGreen">
  <div class="container">
    <div class="flex flex-center socialFooter pt-50">
      <span class="icon-social-facebook colorGrey pr-10 pl-10"></span>
      <span class="icon-social-twitter colorGrey pr-10 pl-10"></span>
      <span class="icon-social-instagram colorGrey pr-10 pl-10"></span>
      <span class="icon-social-youtube colorGrey pr-10 pl-10"></span>
    </div>
  </div>
  <div class="bg-darkJungleGreen pt-50 pb-10 flex flex-center flex-middle">
    <p class="bodyText colorGrey textCenter">©2018 cofluencer</p>
  </div>
</footer>