.bigImage-bg {
  background-size: cover;
  background-position: center;
}

.bigImage>.uploadInput {
  width: 100%;
  height: 100%;
  display: none;
}

.bigImage>label {
  width: 100%;
  height: 190px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.fa {
  padding: 0 0 2px 5px;
}
