<div class="container">
  <img class='logo' src="../../../assets/img/twitter.png" alt="logo-twitter">
  <div *ngIf='!twitterInfo'>
    <div *ngIf="rolControl" class='no-account'>
      <div *ngIf='!accountInput'>
        <p>nothing to read here.. ☹️</p>
        <button class="btn btn-info" (click)="toggleAccount()">Add Twitter Account!</button>
      </div>
      <div *ngIf='accountInput'>
        <p> great! we need your username 🤩</p>
        <input [(ngModel)]='accountAddUsername' name='accountAddUsername' type="text" class="form-control ng-untouched ng-pristine ng-valid">
        <br>
        <button class="btn btn-info" (click)="saveAccount()">Save Twitter Account!</button>
        <p>Or
          <span (click)="toggleAccount()">
            <b>cancel</b>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div *ngIf='twitterInfo'>
    <div>
      <br>
      <p>@{{ this.userTwitterInfo.twitterUser.screen_name }}
        <b>{{ this.userTwitterInfo.twitterUser.followers_count }}</b> followers</p>
    </div>
    <div class="twitter-timeline">
      <div *ngFor='let tweet of this.userTwitterInfo.userTweets'>
        <div class="tweet">

          <div class="tweet--user">
            <img class="tweet--user-avatar" src="{{ tweet.user.profile_image_url }}" alt="" />
            <div class="tweet--user-name">{{ tweet.user.name }}
              <span>@{{ this.userTwitterInfo.twitterUser.screen_name }}</span>
            </div>
          </div>

          <p class="tweet--body">{{ tweet.text }}</p>

          <div class="tweet--time">{{ tweet.created_at }}</div>

          <div class="tweet--actions">
            <i class="fa fa-ellipsis-h"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-retweet"></i>
            <i class="fa fa-reply"></i>
            <span>51 retweets</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
