<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-translate flex sp-between w-100 flex-middle">
      <a class="navbar-brand w-115" [routerLink]="['/app', editingUser.username]" rel="tooltip" data-placement="bottom">
        <img src="../../../assets/img/brand/logo-dark.png" alt="logo-cofluencer">
      </a>
      <div class="iconMenu" (click)="close()">
        <span class="bar1"></span>
        <span class="bar2"></span>
      </div>
    </div>
  </div>
</nav>

<div class="flex flex-center bg">
  <div class="formProfile flex flex-center flex-middle flexModal modalBg">
    <div class="loginForm mb-100">
      <app-edit-image-cover></app-edit-image-cover>
      <div class="container p-20 box-form">
        <form class="row mt-40">
          <div class="col-12">
            <div class="profileImage flex flex-center flex-middle" [ngStyle]="{'background-image': 'url(' + editingUser.profileImage + ')'}"
              style="background-position: center; background-size: cover;">
              <label for="file" class="flex flex-center flex-middle">edit avatar</label>
              <input class="uploadInput" type="file" name="file" id="file" ng2FileSelect [uploader]="uploader" />
            </div>
          </div>

          <div class="col-12">
            <div class="row form-group mt-20">
              <div class="col-3">
                <label for="username">Username</label>
              </div>
              <div class="col-9">
                <input [(ngModel)]="editingUser.username" name="username" type="text" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-3">
                <label for="name">Real Name</label>
              </div>
              <div class="col-9">
                <input [(ngModel)]="editingUser.name" name="name" type="text" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-3">
                <label for="email">Email</label>
              </div>
              <div class="col-9">
                <input [(ngModel)]="editingUser.email" name="email" type="email" class="form-control">
              </div>
            </div>

            <div class="col-12">
              <tag-input [(ngModel)]="editingUser.tags" [ngModelOptions]="{standalone: true}" theme='minimal' allowDupes='true'></tag-input>
            </div>

            <div class="row form-group">
              <div class="col-12">
                <textarea [(ngModel)]="editingUser.bio" name="bio" rows="5" class="form-control" placeholder="A few lines about the event and info for the influencers"></textarea>
              </div>
            </div>
            </div>


          <div class="col-12">
            <div class="form-group">

            <div class="row form-group">
              <div class="col-3">
                <label for="instagram">Instagram</label>
              </div>
              <div class="col-9">
                <input disabled name="instagram" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-3">
                <label for="youtube">YouYube</label>
              </div>
              <div class="col-9">
                <input [(ngModel)]="editingUser.socialLinks.youtube" name="youtube" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-3">
                <label for="twitter">Twitter</label>
              </div>
              <div class="col-9">
                <input [(ngModel)]="editingUser.socialLinks.twitter" name="twitter" class="form-control">
              </div>
            </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <button (click)="updateUser()" class="btn btn-round btn-primary updateButton h4">Update Profile</button>
            </div>
          </div>
          <!-- <tag-input [ngModel]="editingUser.tags" [ngModelOptions]="{standalone: true}" theme='minimal' [removable]='false' [disable]='true' placeholder='' secondaryPlaceholder='No tags added'></tag-input> -->
        </form>
      </div>
    </div>
  </div>
</div>