<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-translate flex sp-between w-100 flex-middle">
      <a class="navbar-brand w-115" href="/" rel="tooltip" data-placement="bottom">
        <img src="../../../assets/img/brand/logo-dark.png" alt="logo-cofluencer">
      </a>
      <div class="iconMenu" (click)="close()">
        <span class="bar1"></span>
        <span class="bar2"></span>
      </div>
    </div>
  </div>
</nav>

<div class="flex flex-center bg">
  <div class="formProfile flex flex-center flex-middle flexModal modalBg">
    <div class="loginForm mb-100">
      <div class="container p-50">
        <p class="h1">Edit Profile</p>

        <form class="row mt-40">
          <div class="col-12">
            <div class="form-group">
              Username
              <input [(ngModel)]="editingUser.username" name="username" type="text" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              Email
              <input [(ngModel)]="editingUser.email" name="email" type="email" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              Bio
              <textarea [(ngModel)]="editingUser.bio" name="bio" rows="5" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <p>YouTube</p>
              <input [(ngModel)]="editingUser.socialLinks.youtube" name="youtube" class="form-control">
              <p>Twitter</p>
              <input [(ngModel)]="editingUser.socialLinks.twitter" name="twitter" type="text" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <button (click)="updateUser()" class="btn btn-round btn-primary updateButton h4">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>