.gradient {
  background-image: linear-gradient(137deg, rgba(40, 175, 176, .4), rgba(68, 53, 91, .4));
}

.navbar {
  box-shadow: none;
  padding: 20px 0;
  margin-bottom: 0;
}

.iconMenu {
  width: 30px;
  margin-top: 5px;
  cursor: pointer;
  display: block;
}

.iconMenu [class^=bar] {
  background-color: #fff;
  display: block;
  height: 3px;
  border-radius: 2px;
}

.iconMenu .bar1 {
  transform: rotate(45deg);
  transform-origin: 45% 50%;
}

.iconMenu .bar2 {
  transform: rotate(-45deg);
  transform-origin: 40% 50%;
}
