.card-container {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.card-img {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.cofluencerName {
  padding-left: 15px;
  padding-top: 8px;
}

.cofluencity {
  padding-left: 15px;
}

.icon-plus {
  font-size: 20px;
  padding-bottom: 6px;
  cursor: pointer;
  color: #28afb0
}

.icon-minus {
  font-size: 20px;
  padding-bottom: 6px;
  cursor: pointer;
  color: #44355b;
}