<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title h4" id="myModalLabel">Delete Message</h4>
      <div class="iconMenu" data-dismiss="modal" aria-hidden="true">
        <span class="bar1"></span>
        <span class="bar2"></span>
      </div>
    </div>

    <div class="modal-body">
        <div class="col-12 bodyText">
          Are you sure that you want to delete this message?
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-round h6" data-dismiss="modal" id="cancelButton">Cancel</button>
      <button type="button" class="h6" data-dismiss="modal" (click)='msg.deleteMessage()' id="deleteButton">Delete</button>
    </div>
  </div>
</div>
