<header>
  <nav [hidden]="toggleMenu" class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent bigNav" color-on-scroll="400" id="companyNav">
    <div class="container">
      <div class="navbar-translate" id="navLogo">
        <a class="navbar-brand w-115" [routerLink]="['/company', user.username]" rel="tooltip" data-placement="bottom">
          <img src="../../../assets/img/brand/logo-light.png" alt="logo-cofluencer">
        </a>
        <div class="iconMenu" (click)="menuControl()">
          <span class="bar1"></span>
          <span class="bar2"></span>
        </div>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav flex flex-middle">
          <li class="nav-item">
            <a class="nav-link" href="" onclick="scrollToDownload()">
              <p class="bodyTextBold capitalize colorGrey">My campaigns</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <p class="bodyTextBold capitalize colorGrey">My stats</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <p class="bodyTextBold capitalize colorGrey">Create Campaign</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div [hidden]="!toggleMenu" id="mobileMenu">
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent">
      <div class="container">
        <div class="navbar-translate flex sp-between w-100 flex-middle">
          <a class="navbar-brand w-115" [routerLink]="['/company', user.username]" rel="tooltip" data-placement="bottom">
            <img src="../../../assets/img/brand/logo-light.png" alt="logo-cofluencer">
          </a>
          <div class="iconMenu" (click)="menuControl()">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
        </div>
      </div>
    </nav>

    <ul class="menu container flex flex-column flex-middle mt-100">
      <li class="pb-20 mt-20 w-100 b-bottomThin">
        <a (click)="newCampaign()" class="bodyTextBold capitalize colorGrey">Create campaign</a>
      </li>
      <li class="pb-20 mt-20 w-100 b-bottomThin">
        <a class="bodyTextBold capitalize colorGrey" (click)="editProfile()">Edit profile</a>
      </li>
      <li class="pb-20 mt-20 w-100 b-bottomThin">
        <a class="bodyTextBold capitalize colorGrey" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
  <!-- End Mobile Menu -->
  
  <div class="wrapper">
    <div class="page-header gradient">
      <div class="page-header-image" data-parallax="true" [ngStyle]="{'background-image': 'url(' + session.user.profileImage + ')'}" id="bgImage">
      </div>
    </div>
    <div class="container flex sp-between" id="buttons">
      <button (click)="newCampaign()" class="btn btn-lg btn-primary btn-round h4" id="searchButton">CREATE CAMPAIGN</button>
      <button class="h4 flex sp-between w-100" id="moreButton" (click)="moreButtonControl()">
        <i [hidden]="toggleMoreButton" class="icon-arrow-up"></i>
        <i [hidden]=!toggleMoreButton class="icon-arrow-down"></i>
      </button>
    </div>
    <div [hidden]="!toggleMoreButton" id="insideMoreButton" class="flex flex-column">
      <button class="btn btn-primary btn-round" (click)="editProfile()">edit profile</button>
      <button (click)="logout()" class="btn btn-primary btn-round">logout</button>
    </div>
  </div>

</header>

<main>
  <section class="container flex sp-between" id="stats">
    <div class="flex flex-column flex-center">
      <h2 class="colorGrey introductionText textCenter">Campaigns</h2>
      <p class="quoteText textCenter">{{ companyService.campaigns.length }}</p>
    </div>
    <div class="flex flex-column flex-center">
      <h2 class="colorGrey introductionText textCenter">Cofluencity</h2>
      <p class="quoteText textCenter">90%</p>
    </div>
    <div class="flex flex-column flex-center">
      <h2 class="colorGrey introductionText textCenter">Total reach</h2>
      <p class="quoteText textCenter">254</p>
    </div>
  </section>
  <section id="info">
    <div class="container">
      <h2 class="h3 capitalize">{{ session.user.username }}</h2>
      <p class="bodyText">{{ session.user.bio }}</p>
    </div>
  </section>
  <section id="campaigns">
    <div class="container">
      <h2 class="h3" (click)="getCampaigns()">Campaigns</h2>
      <div *ngFor="let campaign of companyService.campaigns" class="campaignBox gradient-reverse shadow">
        <div class="row">
          <div class="col-12">
            <h3 class="h3 capitalize mb-10">{{ campaign.title }}</h3>
            <p>
              <span class="bodyTextBold">{{ campaign.startDate | date: 'dd/MM/yyyy' }}</span> |
              <span class="bodyTextBold">{{ campaign.endDate | date: 'dd/MM/yyyy' }}</span>
            </p>
            <p class="bodyTextBold w-50">{{ campaign.description }}</p>
          </div>
        </div>
        <h4 class="h4 capitalize mb-10">Influencers</h4>
        <div class="flex user">
          <div class="card-box" *ngFor="let user of campaign.influencer_id">
            <a href="#" class="card-container d-block" data-parallax="true" [ngStyle]="{'background-image': 'url(' + user.profileImage + ')'}">
            </a>
          </div>
        </div>
        <button (click)="campaignDetail(campaign._id)" class="btn btn-md btn-primary btn-round h4">View details</button>
      </div>
    </div>
  </section>
  <section id="stats">
    <div class="container">
      <h2 class="h3">Stats</h2>

    </div>
  </section>
</main>