<div class="shadow" [ngClass]="!message.read?'msg-box-noread':'msg-box-read'">
  <div class="row">
    <div class="col-12">
      <div class="user">
        <div class="card-box">
          <a class="card-container d-block" data-parallax="true" [ngStyle]="{'background-image': 'url(' + message.from.profileImage + ')'}">
          </a>
        </div>
        <div class="info-user">
          <div class="icons">
            <i class='icon'[ngClass]="message.read?'icon-envelope-open':'icon-envelope'" (click)='msg.toggleReadMessage(message._id, message.read)'></i>
            <i class="icon icon-trash" data-toggle="modal" data-target="#alertDeleteMsg"></i>
            <app-msg-alert-delete class="modal fade" id="alertDeleteMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [idMessage]='message._id'></app-msg-alert-delete>
          </div>
          <h3 class="capitalize">{{ message.from.name }}</h3>
          <p>
            <span class="bodyTextBold">{{ message.created_at | date: 'dd/MM/yyyy' }}</span>
          </p>
        </div>
      </div>
        <p class="bodyTextBold w-50">{{ message.msg }}</p>
    </div>
  </div>
</div>